/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #e0e0e0;
}

/* Estilo para a classe 'thumbnail' (miniaturas) */
.thumbnail {
    max-width: 100px;
    max-height: 100px;
}

/* Estilo para os botões de editar e excluir */
table button {
    background-color: #bd5a35;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

table button:hover {
    background-color: #ff704d;
}

.thumbnail {
    max-width: 100px;
    max-height: 100px;
}

